:root {
  --fc-today-bg-color: rgba(255,220,40,.3)
}

.fc-daygrid-event-dot {
  display: none;
}

.fc-list-event:hover td {
  color: #212529
}

.fc-event-past .fc-list-event-title a {
  color: #6c757dfa;
}

.fc-event-today {
  font-weight: bold;
  background: var(--fc-today-bg-color);
}

.fc-event-past .fc-event-title {
  font-weight: normal;
}

.fc .fc-toolbar-title {
  font-size: clamp(0.75rem, 3.5vw, 1.5rem);
}


